build_out/
home/
tools/
original-source-code/
source-code/
READY-TO-SHIP/
KEADDON_x32/
KEADDON_x64/
git-snapshotter/
generate-changes.ps1
generate-changes.bat
relevant-file-changes.txt
wishlist.txt
x32_KEmulator.jar
x64_KEmulator.jar
*.bak
*.log
