# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jar0

# virtual machine crash logs
hs_err_pid*

*.cmd
*.bat

# compiled binaries
bin
KEmulator.jar
emulator.jar
mapping*.txt
*.exe

# emulator files
kemulator.cfg

# vlc dirs
plugins

config_fast.txt
m3g_*.jar
micro3d_*.jar
KEmulator_x64.jar
kemulator-debug.jar
version.mf
