# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jar0

# virtual machine crash logs
hs_err_pid*

# eclipse dirs
.settings

*.cmd
*.bat

# compiled binaries
bin
KEmulator.jar
emulator.jar
mapping*.txt
*.exe

# emulator files
log.txt
property.txt
track.txt
kemulator.cfg

# vlc dirs
plugins

.idea/uiDesigner.xml
config_fast.txt
home/classwatcher.txt
m3g_*.jar
KEmulator_x64.jar
version.mf
home/midlets.txt
